.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  margin-top: 17px;
  transition: 2s opacity ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 940px) {
  .profile__edit-button {
    margin-top: 9px;
    margin-left: 14px;
  }
}

@media (max-width: 500px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
