.profile {
  max-width: 880px;
  height: 120px;
  display: flex;
  flex-direction: row;
  margin: 0 auto 51px;
}

@media (max-width: 940px) {
  .profile {
    flex-direction: column;
    width: 90%;
    height: 286px;
    margin-bottom: 37px;
  }
}
